%h1 Race!!
=# render 'form'
%div.race{data: { logo: asset_path('phaser.png') } }
  %div#game
= link_to 'Back', races_path

:javascript
  $(document).ready(function() {
    Wookie.Race.onDocumentReady();
  });
